body{
    font-family: sans-serif;
    margin: 0;
    background-color: none;
    overflow-x: hidden;
	background: linear-gradient(45deg, #464646 0%, #a6a6a6 50%, #fbeeec 100%) no-repeat;
	background-size: cover;
	overflow-y: hidden;
	min-height: 1000px;
	width:100%;
}
h1 {
	font-size: 42px;
		 font-weight: 700;
		 margin:0px;
		 background-color: #f3ec78;
	  background-image: linear-gradient(45deg, #3498db 0%, #95a5a6 50%, #2c3e50 100%);
	  background-size: 100%;
	  background-clip: text;
	  -webkit-background-clip: text;
	  -moz-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -moz-text-fill-color: transparent;
	  text-align: center;
	  }
	  
.leaderboard{
    max-width: 55em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 1em;
    padding-top: 2em;
}
.theme-img{
    width: 20em;
    border-radius: 10px;
}
.description{
    display: inline-block;
    text-align: center;
    margin: 1em;
    color: black;
    /*transform: translateY(-5em);*/
}
.search {
    border-radius: 8px;
    border: none;
    border-bottom: dimgray 2px solid;
    padding: 0.5em;
    font-size: 1em;
    color: black;
    background-color: lightgray;
	display: none;
}
.search:focus{
    outline: none;
}
table{
    margin-top: 0px;
    width: 50em;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

table thead {
    opacity: 1;
    background-color: #32393d;
}

table img{
    width:2em;
    height: 2em;
    border-radius: 100%;

}
table td {
    max-width: 2em;
    padding: 0.5em;
    text-align: center;
    border-radius: 6px;
}
tbody tr{
    box-shadow: none!important;
    border-radius: 6px;
}
tbody tr:hover{
    transform: scale(1.025);
    transition: .2s ease-in-out;
}
tbody tr td:nth-child(2){
	height: 48px!important;
}
tbody tr td:nth-child(2) p{
    display: inline-block;
    transform: translateY(-.5em);
    padding-left: .5em;
    text-align: left;
	margin: 0px !important;
}
table td:nth-child(2){
    max-width: 5em;
	height: 24px;
}

/*table tbody td:nth-child(2){
	display: flex;
}*/
tbody tr:nth-child(odd){
    background-color: #373737!important;
}
tbody tr:nth-child(even) {
    background-color: #464646;
}
#winner{
    color: gold;
    font-weight: 800;
}
#runner-up{
    color: silver;
    font-weight: 800;

}
#second-runner-up{
    color: #cd7f32;
    font-weight: 800;
}

.container {
      display: flex;
      justify-content: center;
      align-items: center; /* Optional: Center items vertically */
    }

    .theme-img {
      max-width: 100%; /* Ensure the image doesn't exceed its container */
	  margin-left:40px;
    }

h3 {
	font-size:24px;
}

.leaderboard_title {
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.badge-title {
	margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 0px;
}
.badge-container {
            display: flex;
            justify-content: space-around;
			margin-top: 32px;
        }

        .badge {
            text-align: center;
        }
		
		.badge h3 {
		color: #054a27;
		font-size: 22px!important;
		margin-top: 16px;
		}
		
		.badge img {
			width: 280px;
			height: 189px;
		}
.page-btn {
    background: transparent;
    border: none;
    margin: 0px 35px;
}
.page-btn img{
	    width: 100px;
    background: transparent;
    margin-top: 20px;
}
.button-label {
	    font-weight: bold;
    font-size: 16px;
}

.page-btn.clicked {
            opacity: 0.3;
        }
@media(max-width:860px){
    .leaderboard{
        padding: 0;
    }
    .theme-img{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .description{
        display: block;
        transform: translateY(0);
    }
    table{
        max-width: 100vw;
        overflow-x: scroll;

    }
}
